#signUpForm{
    margin: 100px;
    border: 2px solid black;
    height: 690px;
    width: 500px;

    
}

    
#form{
    padding: 88px;
    padding-left: 52px;
    text-align:right;
    position: relative;
    margin-top: -24px;
    height: 539px;
    width: 600;
    background-color: #e6e600;
    width: 390px;
}

.input{
    padding-left: 7px;
    height: 9px;
    width: 190px;
    text-align: left;
    margin-left: 10px;

}

.label{
    padding-left: 10px;
    align-items:stretch;
    margin-left: -75px
   
}

#register{
    margin-left: 10px;
    padding: 24px;
}


#signUpTag{
    height: 43px;
    font-size: 35px;
    margin-top: -4px;
    width: 180px;
    margin-left: 101px;
    background-color: green;
    color: white;
}

#submitBtn{
    height: 39px;
    width: 123px;
    text-align: center;
    font-size: 27px;
    padding: 4px;
    padding-left: 2px;
    border: 2px solid black;
    color: white;
    background-color: #3399ff;
    margin-top: 39px;
    margin-right: 118px;

}

.text-danger{
    color: red;
    font-size: 6px;
}